//=============================================================================
// Item
//
// An "item" is a div that contains a title, a description (optional),
// and a label element.
//
// A "label" is a small icon on the left side of the "item" that indicates
// what type of item it is.

$label--free: #4EB653;
$label--rec: #d98f22;
$label--recpaid: #8c4eb6;
$label--paid: #7d7d7d;

$label_height: 32px;
$label_width: 8px;
$label_width_half: $label_width / 2;
$item_margins: $label_width + 10px;

$label_padding: 2px;
$label_inner_height: $label_height - ( $label_padding * 2 );
$label-border: #e6e6e6;

div.category {

	padding-bottom: 0px;
	margin-bottom: 20px;
	padding-left: 20px;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	h3 {
		margin-bottom: 20px;
		margin-left: -20px;
	}

	h4 {
		margin-bottom: 20px;
	}

	ul {
		list-style: none;
		margin: 0; padding: 0;
	}
	> ul {
		padding-bottom: 20px;
	}

	> p {
		color: rgba(0, 0, 0, 0.5);
	}
}

div.group {

	padding-bottom: 20px;
	// border-top: 2px solid $card_shadow_color;

	.group--description {
		color: transparentize(black, 0.5);
	}
}

div.item {

	position: relative;
	height: auto;
	width: calc(100% - #{$label_width_half});
	left: $label_width_half;

	margin-bottom: 8px;
	margin-top: 8px;

	// background: #333333;
	border-radius: 3px;

	line-height: $label_inner_height;
	font-size: 1em;

	p { margin: 0px; }
	strong { font-weight: inherit; }
	em { font-style: normal; }

	.item--name {
		a {
			display: inline-block;
			padding: $label_padding 10px;
			padding-left: $item_margins;
			height: $label_inner_height;
			color: rgba(0, 0, 0, 0.7);
			font-weight: bold;
		}
	}

	.item--description {
		p {
			color: rgba(0, 0, 0, 0.5);
			padding-bottom: $label_padding;
			padding-left: $item_margins;
		}
	}

	&__inline {
		margin: 0;
		display: inline-block;
		width: auto;

		.item--name a { color: rgba(255, 255, 255, 0.8); }
	}

	&--label {
		display: inline-block;
		position: absolute;
		height: 100%; min-height: 32px;
		width: $label_width;
		left: -$label_width_half;
		visibility: hidden;
		border-radius: 3px;
	}

	&.item__free {
		//background: transparentize($label--free, 0.95);
		& .item--label {
			visibility: visible;
			background: $label--free;
		}
	}

	&.item__rec {
		background: transparentize($label--rec, 0.85);
		& .item--label {
			visibility: visible;
			background: $label--rec;
		}
	}

	&.item__paid {
		//background: transparentize($label--paid, 0.95);
		& .item--label {
			visibility: visible;
			background: $label--paid;
		}
	}

	&.item__paid.item__rec {
		background: transparentize($label--recpaid, 0.85);
		& .item--label {
			visibility: visible;
			background: $label--recpaid;
		}
	}
}
