---
---

@import 'item';

$bg: #fafafa;

$font_color: #383636;

$link_color: #4EB68E;

$title-height: 60px;
$fixed-height: 110px;
$header-width: 1000px;

$page-width: 1000px;
$page-side-width: 220px;
$page-content-width: $page-width - $page-side-width - 20px;

@mixin animation($animation...) {
	-webkit-animation: $animation;
	   -moz-animation: $animation;
		-ms-animation: $animation;
		 -o-animation: $animation;
			animation: $animation;
}

body
{
	margin: 0; padding: 0;
	height: 100%;
	background-color: $bg;
	color: $font_color;
	-webkit-font-smoothing: antialiased;

	font-family: "Open Sans", freesans, sans-serif;
	font-size: 14px;
	line-height: 2;

	h1, #title {
		font-size: 2.8em;
		text-transform: uppercase;
		line-height: 1.4;
		color: transparentize($font_color, 0.3);
		letter-spacing: 0.5em;
	}
	h2 { font-size: 2.5em; }
	h3 { font-size: 1.8em; }
	h4 { font-size: 1.3em; }
	h5 { font-size: 1.1em; }
	h6 { font-size: 1em; }

	& > p {
		position: fixed;
	}

	a {
		&:link, &:visited, &:hover, &:active
		{
			text-decoration: none;
		}
	}
}

hr
{
	height: 2px;
    padding: 0;
    margin: 16px 0;
    // background-color: $card_shadow_color;
    border: 0 none;
}

/*
 * Table of Contents
 */
.header {
	margin-top: $fixed-height;
	position: normal;

	width: 100%;
	height: $fixed-height;
	background: $font_color;
	z-index: 2;

	&.fixed {
		top: 0px;
		margin-top: 0px;
		position: fixed;
	}

	& .wrapped {
		width: $header-width;
		height: inherit;
		margin: 0px auto;
	}

	&__title {
		color: #ffffff;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.5em;
		line-height: $title-height;
		font-weight: bold;
		letter-spacing: 2px;
	}

	&__legend {
		width: 100%;
		margin-top: 0px auto;
		text-align: center;
		vertical-align: middle;
		display: inline-block;

		ul {
			padding: 0px; margin: 0px;
			list-style: none;
		}

		li {
			display: inline-block;
			margin: 0px 16px;
		}
	}
}

//=============================================================================
// Page Wrapper

// $page_width_perc: 100% - $side_width_perc;
// $page_width_max: 780px;

$page_width: 1000px;

.page {
	display: normal;
	overflow: auto;
	margin-top: $fixed-height;
	min-height: 100%; height: 100%;

	& .wrapped {
		overflow: auto;
		width: $page_width;
		margin: 0px auto;
	}
}

.page-content {
	float: right;
	display: inline-block;
	margin-right: auto;
	margin-left: 10px;
	width: $page-content-width;

	h1:before, h2:before, h3:before {
		content: " ";
		display: block;
	    height: $fixed-height + 40px;
		margin-top: -($fixed-height + 40px);
		visibility: hidden;
	}
}

// the main program / website list
// let bold mean "recommended" and italics mean "paid"
// bold and italics should be a separate color
.page-content__list {
	width: auto;
	padding: 20px 0px;

	> h1 {
		text-align: center;
	}

	> h1, > h2, > h3, > h4, > h5, > h6 {
		// @extend .card;
	}

	*:first-child {
		margin-top: 0;
	}
}

//=============================================================================
// Side
//
$side_padding: 20px;
$side_width: 220px;

$side_background: #dadfe6;
$side_font_color: transparentize(rgba(0, 0, 0, 1), 0.4);

.side {
	position: fixed;
	float: left;
	display: inline-block;

	// extend background to left edge
	padding-left: 100%; margin-left: -100%;
	padding-right: $side_padding;
	background: $side_background;
	color: $side_font_color;

	width: $side_width - $side_padding;
	height: 100%;
}

.side__nav
{
	text-align: left;
	width: $side_width - $side_padding;

	color: $side_font_color;

	margin: 0px; padding: 0px;

	border-bottom: solid 2px #84888e;

	ul {
		list-style: none;
		padding: 0;
	}

	li > span { // topmost names eg. "Programs" or "Websites"
		font-weight: bold;
		font-size: 1.1em;
		text-transform: uppercase;
		padding-bottom: 10px;
	}
}

.side__credits
{
	// @extend .card;
	//
	width: $side_width - $side_padding;
	ul {
		font-family: Tahoma,Helvetica,Arial,Verdana;
		color: #A06000;
		font-weight: bold;
		//text-align: center;
		list-style: none;
		padding: 0;
	}
}

.side .side__nav
{
	// @extend .card;

	transition-duration: 10ms;

	li a, a
	{
		transition: color 0.5s ease;

		&:link, &:visited
		{
			text-decoration: none;
			color: $side_font_color;
		}

		&:hover, &:active
		{
			text-decoration: none;
			color: #ffffff;
		}
	}

	ul > li > ul {
		display: none;
		opacity: 0;
	}

	ul.programs.selected,
	ul.websites.selected
	{
		display: block;
		opacity: 100;
		@include animation(fadein 1s);
	}

	@keyframes fadein
	{
    from { opacity: 0; }
    to   { opacity: 1; }
  }

	/* Firefox < 16 */
	@-moz-keyframes fadein
	{
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein
	{
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein
	{
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein
	{
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}
}

//=============================================================================
// Content

$content_width: $page_width - $side_width;

.content {
	width: $content_width;
	float: right;

	h1 {
		text-transform: uppercase;
	}

	h2, h3, h4, h5, h6 {
		text-transform: lowercase;
	}

	// h3::before {
	// 	content: "# ";
	// 	color: transparentize($font_color, 0.4);
	// }

	h3 {
		margin-down: 20px;
	}
}

.content__list {
	padding-left: 30px;
}
