---
---

@import 'item';

$bg: #FFFFFF;

$font_color: #383636;

$link_color: #4EB68E;

$title-height: 60px;
$fixed-height: 110px;
$header-width: 1000px;

$page-width: 1000px;
$page-side-width: 220px;
$page-content-width: $page-width - $page-side-width - 20px;

$side_padding: 20px;
$side_width: 240px;

$side_background: #544538;
$side_font_color: transparentize(white, 0.4);

@mixin animation($animation...) {
	-webkit-animation: $animation;
	   -moz-animation: $animation;
		-ms-animation: $animation;
		 -o-animation: $animation;
			animation: $animation;
}

body
{
	margin: 0; padding: 0;
	height: 100%;
	background-color: $bg;
	color: $font_color;
	-webkit-font-smoothing: antialiased;

	font-family: "Open Sans", freesans, sans-serif;
	font-size: 15.5px;
	line-height: 2;

	h1, #title {
		font-size: 2.8em;
		text-transform: uppercase;
		line-height: 1.4;
		color: transparentize($font_color, 0.3);
		letter-spacing: 0.5em;
	}
	h2 { font-size: 2.5em; }
	h3 { font-size: 1.8em; }
	h4 { font-size: 1.3em; }
	h5 { font-size: 1.1em; }
	h6 { font-size: 1em; }

	& > p {
		position: fixed;
	}

	a {
		&:link, &:visited, &:hover, &:active
		{
			text-decoration: none;
		}
	}
}

/*
 * Table of Contents
 */
.header {
	margin-top: $fixed-height;
	position: normal;

	width: 100%;
	height: $fixed-height;
	background: $font_color;
	z-index: 2;

	&.fixed {
		top: 0px;
		margin-top: 0px;
		position: fixed;
	}

	& .wrapped {
		width: $header-width;
		height: inherit;
		margin: 0px auto;
	}

	&__title {
		color: #ffffff;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.5em;
		line-height: $title-height;
		font-weight: bold;
		letter-spacing: 2px;
	}

	&__legend {
		width: 100%;
		margin-top: 0px auto;
		text-align: center;
		vertical-align: middle;
		display: inline-block;

		ul {
			padding: 0px; margin: 0px;
			list-style: none;
		}

		li {
			display: inline-block;
			margin: 0px 16px;
		}
	}
}

//=============================================================================
// Page Wrapper

// $page_width_perc: 100% - $side_width_perc;
// $page_width_max: 780px;

$page_width: 1000px;

.page {
	display: normal;
	overflow: auto;
	margin-top: $fixed-height;
	min-height: 100%; height: 100%;

	& .wrapped {
		overflow: auto;
		//max-width: $page_width;
		max-width: 100%;
		min-width: $side_width + 240px;
		margin: 0px auto;
	}
}

.page-content {
	float: right;
	display: inline-block;
	margin-right: auto;
	margin-left: 10px;
	max-width: $page-content-width;

	h1:before, h2:before, h3:before {
		content: " ";
		display: block;
	    height: $fixed-height + 40px;
		margin-top: -($fixed-height + 40px);
		visibility: hidden;
	}
}

//=============================================================================
// Side
//

.side {
	//position: fixed;
	float: left;
	display: inline-block;

	// extend background to left edge
	padding-left: 100%; margin-left: -100%;

	padding-right: $side_padding;
	background: $side_background;
	color: $side_font_color;

	width: $side_width - $side_padding;
	height: inherit;

}

.side__nav
{
	text-align: left;
	width: $side_width - $side_padding - $side_padding;

	color: $side_font_color;

	margin: 0px; padding: 0px;
	padding-left: $side_padding;

	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 10px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
	}
}

.table-of-contents {

	& .section-title {

		font-weight: bold;
	}

	& .category-title {

		font-size: 0.9em;
		padding-left: 20px;
	}

	li a, a
	{
		transition: color 0.5s ease;

		&:link, &:visited
		{
			text-decoration: none;
			color: $side_font_color;
		}

		&:hover, &:active
		{
			text-decoration: none;
			color: #ffffff;
		}
	}
}

.side__credits
{
	// @extend .card;
	//
	width: $side_width - $side_padding;
	padding-left: $side_padding;

	ul {
		font-family: Tahoma,Helvetica,Arial,Verdana;
		color: #A06000;
		font-weight: bold;
		//text-align: center;
		list-style: none;
		padding: 0;
	}
}

//=============================================================================
// Content

$content_width: $page_width - $side_width;

.content {
	max-width: $content_width;
	margin-left: $side_width;

	h1 {
		text-transform: uppercase;
	}

	h2, h3, h4, h5, h6 {
		text-transform: lowercase;
	}

	// h3::before {
	// 	content: "# ";
	// 	color: transparentize($font_color, 0.4);
	// }

	h3 {
		margin-down: 20px;
	}
}

.content__list {
	padding-left: 30px;
	padding-right: 30px;
}
