"src/index.md": "pandoc -5 -H include.html -S -c style.css src/${file} -o index.html"
#"script.js": "pandoc -5 -H script.js -c style.css index.md -o index.html"
"src/style.less": "lessc src/${file} style.css"
"src/script.coffee": "coffee -c -o . src/${file}"
