body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #242628;
  font-family: "Open Sans", freesans, sans-serif;
  font-size: 14px;
  line-height: 2;
}
body > p {
  position: fixed;
}
body li a,
body a {
  color: #54595e;
}
body li a:link,
body a:link,
body li a:visited,
body a:visited {
  text-decoration: none;
}
body li a:hover,
body a:hover,
body li a:active,
body a:active {
  text-decoration: underline;
}
h1,
#title {
  font-size: 3.5em;
  line-height: 1.4;
  text-align: center;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
/*
 * Table of Contents
 */
.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #242628;
  z-index: 2;
}
.navbar-wrapper {
  width: 1000px;
  margin: 0px auto;
}
.navbar-wrapper__title {
  width: 100%;
  height: inherit;
  margin: 0px auto;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-wrapper__title p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.navbar-wrapper__title p span {
  vertical-align: middle;
}
.top {
  position: relative;
  margin-top: 60px;
  height: 50px;
  background: #242628;
  z-index: 1;
}
.top-wrapper {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
}
.top-wrapper__content {
  display: none;
}
.top-wrapper__legend {
  height: auto;
  width: 100%;
  margin-top: 0px auto;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
}
.top-wrapper__legend ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.container {
  width: 800px;
  margin: 0px auto;
}
#toc-container {
  display: block;
  position: fixed;
  padding-top: 40px;
  padding-left: 40px;
  text-align: left;
  float: right;
  transform: translateX(800px);
  height: 100%;
  width: 200px;
}
#toc-container ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#toc-container ul > li > ul {
  display: none;
  padding-left: 20px;
}
#toc-container ul > li:hover > ul,
#toc-container ul > li:selected > ul {
  display: block;
}
#toc-container > ul > li > a {
  font-weight: bold;
  font-size: 1.2em;
}
.sidenav__fixed {
  position: fixed;
}
.app-container {
  width: auto;
  padding: 20px 40px;
}
.app-container h1,
.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5,
.app-container h6 {
  text-align: center;
}
.label-container {
  list-style: none;
  background-color: #fafafa;
  padding: 10px 20px;
  border-radius: 6px;
}
.label {
  height: auto;
  width: auto;
  margin: 3px 0px;
  color: #868c92;
}
.label strong {
  font-weight: inherit;
}
.label em {
  font-style: normal;
}
.label a {
  padding: 2px 10px;
  color: #ffffff;
  background: #666666;
  border-radius: 3px;
  font-weight: bold;
}
.label p {
  margin: 0px;
}
.label ul {
  background: none;
}
.label ul li {
  background: none;
  font-weight: normal;
}
.label__inline {
  display: inline-block;
}
.label__ess a {
  background-color: #b66a4e;
}
.label__paid a {
  background-color: #b5b5b5;
}
.label__esspaid a {
  background-color: #8c4eb6;
}
.label__free a {
  background-color: #4eb653;
}
#credits {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
#title {
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}
hr {
  height: 1px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
