body {
  background-color: #ffffff;
  padding: 40px;
  position: relative;
  margin-left: 240px;
  color: #242628;
  font-family: "Open Sans", freesans, sans-serif;
  font-size: 14px;
  line-height: 2;
}
#TOC {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 0px;
  height: 100%, width: 200px;
  padding-right: 25px;
}
#TOC ul {
  list-style: none;
}
#TOC li a {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
#title {
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}
h1,
#title {
  font-size: 3.5em;
  line-height: 1.4;
  text-align: center;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
hr {
  height: 1px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
li a,
a {
  color: #4eb6ac;
}
li a:link,
a:link,
li a:visited,
a:visited {
  text-decoration: none;
}
li a:hover,
a:hover,
li a:active,
a:active {
  text-decoration: underline;
}
