<div class="header fixed"><div class="wrapped">

	<div class="header__title">
		<span>Useful &amp; Recommended Programs &amp; Websites</span>
	</div>

	<div class="header__legend">
		<ul>
			<li>
				<div class="item item__inline item__rec">
					<div class="item--label"></div>
					<span class="item--name"><a>recommended</a></span>
				</div>
			</li>
			<li>
				<div class="item item__inline item__free">
					<div class="item--label"></div>
					<span class="item--name"><a>free</a></span>
				</div>
			</li>
			<li>
				<div class="item item__inline item__paid item__rec">
					<div class="item--label"></div>
					<span class="item--name"><a>recommended &amp; paid</a></span>
				</div>
			</li>
			<li>
				<div class="item item__inline item__paid">
					<div class="item--label"></div>
					<span class="item--name"><a>paid</a></span>
				</div>
			</li>
		</ul>
	</div>

</div></div>
