<div class="header fixed"><div class="wrapped">
	<div class="header__title">
		<span>Useful &amp; Recommended Programs &amp; Websites</span>
	</div>

	<div class="header__legend">
		<ul>
			<li class="label label__inline label__rec"><span>recommended</span></li>
			<li class="label label__inline label__free"><span>free</span></li>
			<li class="label label__inline label__paid label__rec"><span>recommended &amp; paid</span></li>
			<li class="label label__inline label__paid"><span>paid</span></li>
		</ul>
	</div>
</div></div>
