{% assign sections = site.data.sections | sort: '0' %}

{% for section in sections %}
<h1>{{ section[0] | capitalize }}</h1>

<div class="section">
	{% for category in section[1] %}
	<!-- {{category[1].category}} Category -->
	<div class="label-group">
		<h3 id="{{ section[0] | slugify }}-{{ category[1].category | slugify }}">{{ category[1].category }}</h3>
		{% for group in category[1].groups %}<div class="label-subgroup">
			{% if group.group != null or group.group == "" %}
			<h4 class="list__title">{{ group.group }}</h4>
			{% endif %}
			{% if group.description != null or group.description == "" %}
			<p class="list__description">{{ group.description }}</p>
			{% endif %}
			<ul>
				{% for item in group.items %}
				<li>
					{% if item.paid and item.recommended %}
					<div class="item item__paid item__rec">
					{% elsif item.paid %}
					<div class="item item__paid">
					{% elsif item.recommended %}
					<div class="item item__rec">
					{% else %}
					<div class="item item__free">
					{% endif %}
						<div class="item--label"></div>
						{% if item.url == null or item.url == "" %}
						<span class="item--name"><a href=""><strike>{{ item.name }}</strike></a></span>
						{% else %}
						<span class="item--name"><a href="{{ item.url }}">{{ item.name }}</a></span>
						{% endif %}
						<span class="item--desc"><p>{{ item.description }}</p></span>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endfor %}
